# Create a GitHub token with no special scopes on https://github.com/settings/personal-access-tokens/new
NUXT_GITHUB_TOKEN=

# Set to true to hide pull requests in private repositories
NUXT_HIDE_PRIVATE_REPOS=
